Repository erikdarlingdata/DarlingData, pull requests merged in 2024-10, with the labels that each got.

#481 Update sp_IndexCleanup BETA.sql
  sp_IndexCleanup BETA/sp_IndexCleanup BETA.sql
Labels: bug, sp_IndexCleanup

#488 sp_QuickieStore and README.md: Clarified how @get_all_databases and @database_name work with system databases.
  README.md
  sp_QuickieStore/sp_QuickieStore.sql
Labels: question, sp_QuickieStore

#486 sp_QuickieStore: Added ability to check for regressions.
  README.md
  sp_QuickieStore/Examples.sql
  sp_QuickieStore/sp_QuickieStore.sql
Labels: enhancement, sp_QuickieStore

#494 Validated @query_execution_type_desc's value.
  README.md
  sp_QuickieStore/Examples.sql
  sp_QuickieStore/sp_QuickieStore.sql
Labels: enhancement, sp_QuickieStore

#495 sp_QuickieStore: Add more examples to the examples file.
  sp_QuickieStore/Examples.sql
Labels: enhancement, sp_QuickieStore
