Repository erikdarlingdata/DarlingData, pull requests merged in 2025-04, with the labels that each got.

#549 Compression eligibility changes
  sp_IndexCleanup/sp_IndexCleanup.sql
Labels: enhancement, sp_IndexCleanup

#567 fix for 00 decimals on avg_read/write_stall_ms and total_avg_stall_ms
  sp_PressureDetector/sp_PressureDetector.sql
Labels: bug, sp_PressureDetector

#585 Expand wait_time_percent_of_uptime to accomodate >1,000% waits
  sp_PerfCheck/sp_PerfCheck.sql
Labels: bug, sp_PerfCheck

#590 sp_QuickieStore: Multiple changes to how wait stats are handled
  sp_QuickieStore/sp_QuickieStore.sql
Labels: bug, sp_QuickieStore

#593 Made filtering by @execution_count be done with a temp table rather than a variable
  sp_QuickieStore/sp_QuickieStore.sql
Labels: enhancement, sp_QuickieStore
